code {
    margin: 2px 0px 8px 0px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family:
        'Fira Code',
        "Microsoft JhengHei", "微軟正黑體";
}