@charset "utf-8";

/*----------------------------------------
Layout
----------------------------------------*/
html,
body {
    /* margin: 0; */
    font-family:
        /* 1 映射系統UI字體 */
        "system-ui", "-apple-system", "BlinkMacSystemFont", "Microsoft JhengHei", "微軟正黑體",
        /* 2 已知的系統UI字體 */
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans",
        /* 3 回退處理*/
        "Helvetica Neue", "Arial", "sans-serif";
}

a:link {
    color: #2196f3;
    /*color: #265e93;*/
    text-decoration: none;
}

a:hover {
    /* color: #004280; */
    text-decoration: underline;
}

a:visited {
    color: #609;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center
}

h2 {
    font-size: 30px !important;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center
}

h3 {
    font-size: 24px;
    line-height: 1.5em;
}

h4,
ul,
ol {
    font-size: 18px;
    line-height: 1.4em;
}

h5,
p,
span,
li {
    font-size: 16px;
    line-height: 24px;
}

br {
    height: 1px;
    font-size: 1px;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

a img {
    border: none;
}

.clear {
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}




/*----------------------------------------
Dropdown Menu inside a Navigation Bar
----------------------------------------*/

#footer-wrapper {
    height: 30px;
    position: absolute;
    /* background-color: 75003B; */
    width: 100%;
    border-top: 1px solid #b0b0b0;

    background: #240012;
    background: -webkit-linear-gradient(59deg, #75003B, #240012);
    background: linear-gradient(59deg, #75003B, #240012);
    color: white;
}

.backToTop {
    width: 30px;
    height: 30px;
    /* border-style: solid; */
    /* border-width: 0; */
    /* border-color: #b0b0b0 #b0b0b0 transparent transparent; */
    background-color: #75003B;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.25s ease;
    cursor: pointer;
}

.backToTop:hover {
    border-radius: 0;
}

.backToTop:hover::after {
    border-radius: 0;
}

.backToTop::after {
    content: '';
    display: block;
    width: 75%;
    height: 75%;
    background: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease;
    border: 1px solid #b0b0b0;
}

#footer-wrapper .copy p {
    font-size: 8px;
    margin-top: 15px;
}



/*----------------------------------------
Custom styling for font-awesome icons
----------------------------------------*/
i.fas,
i.fab {
    margin-left: 5px;
    margin-right: 5px;
}

/*----------------------------------------
My Default css setting
----------------------------------------*/

.max-100width {
    width: 100%;
    clear: both;
}

.max-98width {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}


/* 
.sticky {
    width: 100%;
    height: 100%;
    min-height: 150px;
    background: rgb(255, 127, 80);
    margin-left: 32px;
    margin-top: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    float: right;
}

.div-radius {
    border-radius: 15%/20%;
    -webkit-border-radius: 15%/20%;
    -moz-border-radius: 15%/20%;
}

.div_shadow {
    box-shadow: 10px 15px 20px #333333;
    -webkit-box-shadow: 10px 15px 20px #333333;
    -moz-box-shadow: 10px 15px 20px #333333;
} */

.cursive {
    font-family: "Brush Script MT", cursive;
}