#post h2 {
    border-width: 1px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: #FFAC55;
}

#post .row p {
    color: #9a9a9a;
}

#post .row p span {
    margin: 0px 5px;
}

#post .section {
    margin: 0 0 25px 0;
}

#post .section table {
    font-size: 14px;
    border-collapse: collapse;
    background-color: #fff0f0;
    overflow: hidden;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #fff;
}

#post .section th {
    text-align: left;
    padding: 10px;
    background-color: #ff8888;
    color: white;
}

#post .section td {
    text-align: left;
    padding: 10px;
    border: 1px dashed #fff;
}

#post .section img {
    max-width: 640px;
    display: block;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    #post .section img {
        max-width: 510px;
        width: 100%;
        display: block;
        margin-bottom: 16px;
    }
}

@media (max-width: 480px) {
    #post .section img {
        max-width: 380px;
        width: 100%;
        display: block;
        margin-bottom: 16px;
    }
}

#post h3 {
    font-weight: bold;
}

#post p {
    color: #515151;
}

#post mark {
    font-weight: bold;
}
#post span.light {
    color: #979797;
    /* color: #a9a9a9; */
}

#post .note:before {
    content: '\f0a4';
    font-family: 'Font Awesome 5 Free';
    /* font-weight: 900; */
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

#post p.note {
    padding-top: 8px;
    color: #75003B;
    font-family: "Brush Script MT", cursive;
    font-size: 95%;
}

#post .tagList li {
    margin-bottom: 8px;
}

#post .tagList a {
    color: #ee2828;
}

#post .tagList a:visited {
    color: #240012;
    text-decoration: none;
}

#post .tagList a:hover {
    color: #75003b;
    text-decoration: underline;
}

#post .tagResult h2 {
    text-align: left;
}

#post .tagResult .section {
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#post .tagResult .section h3 {
    margin: 16px 0px 8px 0px;
}

#post .about .vertical-center {
    position: absolute;
    top: 25%;
}