@using WISEPaaS.Extensions
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutWISEPaaS.cshtml";
}
@section css{
    <link href="@Url.AppendVersion("~/css/area-faq/faq.css")" rel="stylesheet" type="text/css">
}
@section bodyScript{
    <script>
        var pcTop = 0;
        var mbTop = $('#wise-paas-header').outerHeight() + $('#faq > h1').outerHeight() + $('#faq > div.btn-wrap.clearfix').outerHeight();
        var topPosition = window.innerWidth <= 768 ? mbTop : pcTop;
        var scrollToTopObject = [
            {
                btn: "#down01",
                targer: "#program",
                speed: 400
            },
            {
                btn: "#down02",
                targer: "#freeTrial",
                speed: 1000
            }
        ];

        $(function () {
            $.each(scrollToTopObject, function (key, obj) {
                $(obj.btn).click(function (e) {
                    e.preventDefault();
                    $('html,body').animate({ scrollTop: $(obj.targer).offset().top - topPosition }, obj.speed);
                });

            });
        });
    </script>
}

<!-- Start #wise-paas-content -->
<div id="wise-paas-content">
    <!--Description-->
    <div class="row-fluid">

        <div class="row-maxwidth-98pct">
            <div id="faq">
                <h1>Marketplace FAQ</h1>
                <div class="btn-wrap clearfix">
                    <div>
                        <a href="#program"><h3 id="down01" class="btn">WISE-PaaS VIP Program</h3></a>
                    </div>
                    <div>
                        <a href="#freeTrial"><h3 id="down02" class="btn">WISE-PaaS/EnSaaS 4.0 Free Trial</h3></a>
                    </div>
                </div>
                <div id="program" class="section">
                    <div class="question">
                        <h2>WISE-PaaS VIP Program</h2>
                        <h3>What is the WISE-PaaS VIP Program?</h3>
                        <div class="answer">
                            <p>WISE-PaaS VIP Program is a worldwide network of partner companies who offer local support to resolve the challenges of customers with Advantech's edge-to-cloud AIoT solutions and their own domain knowledge.  Our partners benefit from business matchmaking with Advantech's international sales and marketing resources, which help to promote partners' solutions to the worldwide market. </p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>What does the WISE-PaaS Membership represent?</h3>
                        <div class="answer">
                            <p>The WISE-PaaS Membership represents the participation in the ecosystem of WISE-PaaS AIoT data application platform. A member receives training, certification, and consultation on technical solutions from Advantech to design and implement AIoT solutions.</p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>What are the options of the WISE-PaaS VIP Program?</h3>
                        <div class="answer">
                            <p>There are 3 levels of Membership to the corresponding amount of WISE-Point (the currency used on the WISE-PaaS Marketplace) purchased:</p>
                            <ul>
                                <li>Regular Member: 100 WISE-Points</li>
                                <li>VIP Member: 2000 WISE-Points</li>
                                <li>Premier Member: 4000 WISE-Points</li>
                            </ul>
                            <p>Note: Please contact your local sales for the price and discount condition for WISE-Point</p>
                            <div class="pc">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Regular Member</th>
                                            <th>VIP Member</th>
                                            <th>Premier Member</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Membership Price</td>
                                            <td>100 WISE-Points</td>
                                            <td>2000 WISE-Points</td>
                                            <td>4000 WISE-Points</td>
                                        </tr>
                                        <tr>
                                            <td>Technical Support</td>
                                            <td>Online self-learning and Certification</td>
                                            <td>
                                                <ul>
                                                    <li>Online self-learning and Certification</li>
                                                    <li>20-hour discussion on cloud architecture (value: 250 points)</li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>Online self-learning and Certification</li>
                                                    <li>8-hour exclusive training course (value:100 Points)</li>
                                                    <li>40-hour discussion on cloud architecture (value: 500 Points)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Business Consultation</td>
                                            <td></td>
                                            <td>8 hours (value: 100 points)</td>
                                            <td>24 hours (value: 300 points)</td>
                                        </tr>
                                        <tr>
                                            <td>Marketing Service</td>
                                            <td></td>
                                            <td>1 unit (value: 50 points)</td>
                                            <td>3 units (value: 150 points)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Regular Member</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Membership Price</td>
                                            <td>100 WISE-Points</td>
                                        </tr>
                                        <tr>
                                            <td>Technical Support</td>
                                            <td>Online self-learning and Certification</td>
                                        </tr>
                                        <tr>
                                            <td>Business Consultation</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Marketing Service</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>VIP Member</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Membership Price</td>
                                            <td>2000 WISE-Points</td>
                                        </tr>
                                        <tr>
                                            <td>Technical Support</td>
                                            <td>
                                                <ul>
                                                    <li>Online self-learning and Certification</li>
                                                    <li>20-hour discussion on cloud architecture (value: 250 points)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Business Consultation</td>
                                            <td>8 hours (value: 100 points)</td>
                                        </tr>
                                        <tr>
                                            <td>Marketing Service</td>
                                            <td>1 unit (value: 50 points)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Premier Member</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Membership Price</td>
                                            <td>4000 WISE-Points</td>
                                        </tr>
                                        <tr>
                                            <td>Technical Support</td>
                                            <td>
                                                <ul>
                                                    <li>Online self-learning and Certification</li>
                                                    <li>8-hour exclusive training course (value:100 Points)</li>
                                                    <li>40-hour discussion on cloud architecture (value: 500 Points)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Business Consultation</td>
                                            <td>24 hours (value: 300 points)</td>
                                        </tr>
                                        <tr>
                                            <td>Marketing Service</td>
                                            <td>3 units (value: 150 points)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p>WISE-Point is used for redeeming software solutions, subscribing to cloud services and I.Apps, and consulting services delivered by Advantech or its partners. These solutions are designed for Advantech's focused domains including intelligent factory, equipment to intelligence, energy and environment, intelligent healthcare, and smart city. All the solutions and services on WISE-PaaS offer different discounts for the corresponding membership levels. Please find our local sales for more detail.</p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>Is there a validity period of WISE-Point?</h3>
                        <div class="answer">
                            <p>WISE-points are valid for 2 years from the effective date. Remaining WISE-points can only be carried over to the next membership period if a member ordered 2000 or more WISE-points before the due date.</p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>How does the WISE-PaaS VIP Program Benefit Partner Companies?</h3>
                        <div class="answer">
                            <ul>
                                <li>Free access to WISE-PaaS Training and Certification.</li>
                                <li>Customized technical supports and customer-success services according to partners' usage experiences to optimize their domain-specific applications.</li>
                                <li>Given the preference of business opportunities and the corresponding consulting services.</li>
                                <li>Enhance the market penetration of partners' solutions via Advantech's professional and international marketing resources</li>
                                <li>Competitive solution pricing for partners to resell for profit.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="question">
                        <h3>Where can I find a nearby WISE-PaaS VIP Member?</h3>
                        <div class="answer">
                            <p>Check out the <a href="@Url.Action("Index", "EcosystemPartner", new { Area=""})">WISE-PaaS Ecosystem.</a></p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>Where can I find more information?</h3>
                        <div class="answer">
                            <p>For more information, please <a href="https://www.advantech.com/form/33884d56-639a-4c6f-84f6-6e7ee8b74b56?callback=72ac3105-1306-4b75-ae16-608f40136210&utm_campaign=Report&utm_medium=Banner-on-Corp-Site&utm_source=Banner-on-Corp-Site" target="_blank">send us an email </a>or contact your local Advantech representative.</p>
                        </div>
                    </div>
                </div>
                <div id="freeTrial" class="section">
                    <div class="question">
                        <h2>WISE-PaaS/EnSaaS 4.0 Free Trial</h2>
                        <h3>Who is eligible for the free trial?</h3>
                        <div class="answer">
                            <p>If you have never participated in the WISE-PaaS/EnSaaS 3.0 free trial program, you are eligible for the EnSaaS 4.0 free trial to experience the more flexible development platform based on Kubernetes.</p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>How long is the free trial?</h3>
                        <div class="answer">
                            <p>You will be able to use WISE-PaaS/EnSaaS 4.0 for free for 30 days since the activation of your subscription.</p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>What products can I try for free?</h3>
                        <div class="answer">
                            <p>You can subscribe to the I.App Starter Package (link), and more free trial packages are coming soon.</p>
                        </div>
                    </div>
                    <div class="question">
                        <h3>Please note</h3>
                        <div class="answer">
                            <ul>
                                <li>Your free trial will be stopped if the total WISE-Points of your subscriptions reaches 100 points during the trial period.</li>
                                <li>All data stored on the platform will be kept for 7 days (based on the time zone of the datacenter) after your trial expires. Join WISE-PaaS membership program or make a purchase of WISE-Points within the 7-day period will retain all data under your account.</li>
                                <li>All data stored on the platform during the trial period is kept under the corporate account created to start the free trial program and cannot be transferred to another corporate account. We encourage users to become paid members or join the VIP program early to enjoy uninterrupted service to access their data.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End Description-->

</div>
<!-- End #wise-paas-content -->

































<ul class="list-number">
    <li>1. Microservice Management: Provides out-of-the-box microservice management features—including routing
        management, API management, service discovery, load balancing, elastic scaling, centralized alarms, and logging.
    </li>
    <li>2. Container Management: Provides an easy-to-use interface to help you manage the containers for running your
        services. You don’t have to be a Kubernetes expert to work with WISE-PaaS/EnSaaS.</li>
    <li>3. Resource Management: Provides a resource management hierarchy to help IT administrators assign workspaces and
        their quotas to teams of users.</li>
    <li>4. Infrastructure Management: Uses a range of IaaS providers’ managed K8s services to ensure that your
        applications can run anywhere, including on private clouds.</li>
</ul>
<br />
<h4><b>Service Plans:</b></h4>
<p>Kubernetes-based WISE-PaaS/EnSaaS K8s Service is available in two service plans: Dedicated Cluster and General
    Workspace.</p>
<table style="width:100%;  border: 1px solid black; border-collapse: collapse;">
    <tr sty>
        <th style="width:20%; border: 1px solid black; padding:5px;"><b>Service Plans</b></td>
        <th style="width:20%; border: 1px solid black; padding:5px;"><b>Dedicated Cluster</b></td>
        <th style="width:20%; border: 1px solid black; padding:5px;"><b>General Workspace</b></td>
            　
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">Summary</td>
        <td style="border: 1px solid black; padding: 5px; ">A dedicated Kubernetes cluster for only one tenant</td>
        <td style="border: 1px solid black; padding: 5px; ">A workspace with resource quota in the shared Kubernetes
            cluster</td>
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">Purpose</td>
        <td style="border: 1px solid black; padding: 5px; ">Production</td>
        <td style="border: 1px solid black; padding: 5px; ">Develop/Test/PoC</td>
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">Customer object</td>
        <td style="border: 1px solid black; padding: 5px; ">Channel/DFSI/Developer/End user</td>
        <td style="border: 1px solid black; padding: 5px; ">End user</td>
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">The highest resource role</td>
        <td style="border: 1px solid black; padding: 5px; ">ClusterOwner</td>
        <td style="border: 1px solid black; padding: 5px; ">WorkspaceOwner</td>
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">Resource per unit</td>
        <td style="border: 1px solid black; padding: 5px; ">One WISE-PaaS/EnSaaS K8s Service 4vCPU 16GiB RAM 128GB OS
            Disk dedicated Kubernetes cluster worker node</td>
        <td style="border: 1px solid black; padding: 5px; ">0.5vCPU 2GiB RAM 10GiB Ephemeral-Storage in a shared
            Kubernetes cluster</td>
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">Capacity expansion</td>
        <td style="border: 1px solid black; padding: 5px; ">WISE-PaaS/EnSaaS K8s Service dedicated cluster node PAYG
            package can be subscribed to for the demand of more than one Worker Node for horizontal Cluster capacity
            expansion</td>
        <td style="border: 1px solid black; padding: 5px; ">Another WISE-PaaS/EnSaaS K8s Service general workspace unit
            can be subscribed to for the demand of more than 0.5vCPU 2GiB RAM 10GiB Ephemeral-Storage for workspace
            capacity expansion</td>
    </tr>
    　 <tr>
        <td style="border: 1px solid black; padding: 5px; ">Performance</td>
        <td style="border: 1px solid black; padding: 5px; ">Dedicated</td>
        <td style="border: 1px solid black; padding: 5px; ">Shared</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Max resources</td>
        <td style="border: 1px solid black; padding: 5px; ">20vCPU 80GiB RAM provided by one dedicated cluster starter
            package and four dedicated cluster PAYG packages</td>
        <td style="border: 1px solid black; padding: 5px; ">8vCPU 32GiB RAM provided by 16 general workspace units</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Multi-tenancy</td>
        <td style="border: 1px solid black; padding: 5px; ">Subscribe to multiple dedicated clusters or create multiple
            workspaces in a dedicated cluster</td>
        <td style="border: 1px solid black; padding: 5px; ">Subscribe to multiple general workspaces</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Router</td>
        <td style="border: 1px solid black; padding: 5px; ">Shared router (HTTP/HTTPS) and Dedicated Router with one
            Public IP (HTTP/HTTPS/TCP/gRPC)</td>
        <td style="border: 1px solid black; padding: 5px; ">Shared Router (HTTP/HTTPS) only</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Logging service</td>
        <td style="border: 1px solid black; padding: 5px; ">Standard logging service with persistent storage</td>
        <td style="border: 1px solid black; padding: 5px; ">Basic logging service without persistent storage</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">RMS</td>
        <td style="border: 1px solid black; padding: 5px; ">Advanced real-time monitor service with persistent storage
        </td>
        <td style="border: 1px solid black; padding: 5px; ">Basic real-time monitor service without persistent storage
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">API management service</td>
        <td style="border: 1px solid black; padding: 5px; ">Supported</td>
        <td style="border: 1px solid black; padding: 5px; ">Not supported</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Service mesh</td>
        <td style="border: 1px solid black; padding: 5px; ">Supported</td>
        <td style="border: 1px solid black; padding: 5px; ">Not supported</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Technical support</td>
        <td style="border: 1px solid black; padding: 5px; ">Level1 online ticket service</td>
        <td style="border: 1px solid black; padding: 5px; ">Level1 online ticket service</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">SLA</td>
        <td style="border: 1px solid black; padding: 5px; ">99.95%</td>
        <td style="border: 1px solid black; padding: 5px; ">99.95%</td>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 5px; ">Data retention time</td>
        <td style="border: 1px solid black; padding: 5px; ">7 Days</td>
        <td style="border: 1px solid black; padding: 5px; ">7 Days</td>
    </tr>
</table>



























<p>WISE-PaaS/EnSaaS K8s Service is a cloud platform updated with Kubernetes and designed to empower cloud services and
    solutions. It leverages a high availability and multi-tenancy architecture with automatic expansion to function as a
    highly robust and reliable data platform for ecosystem partners’ domain-specific cloud services and solutions.</P>
<br>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/EnsaasK8sService/EnsaasK8sService_Detail01.png"
    alt="WebAccessDMP.png" style=" width: 100%;">
<br>
<h4><b>WISE-PaaS/EnSaaS Benefits the Following Users:</b></h4>
<ul class="list-number">
    <li>System integrators: WISE-PaaS/EnSaaS serves as a business platform for exchanging values and expedite
        transactions.
        On this platform, system integrators can run businesses and cloud-based services with ease.</li>
    <li>Service providers/developers: WISE-PaaS/EnSaaS serves as a Kubernetes-based platform with a microservice
        framework
        to speed up solution development. Developers can tap the flexibility of microservices, out-of-the-box K8s, and a
        cloud-native ecosystem.</li>
    <li>IT administrators: WISE-PaaS/EnSaaS serves as a reliable and scalable data platform for IT administrators
        streamline
        operations in a way that ensures high availability and resource efficiency.</li>
</ul>
<br>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/EnsaasK8sService/EnsaasK8sService_Detail02.png"
    alt="WebAccessDMP.png" style=" width: 100%;">
<br>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/EnsaasK8sService/EnsaasK8sService_Detail03.png"
    alt="WebAccessDMP.png" style=" width: 100%;">





















<p></p>
<p></p>
<ol>
    <li style="margin-bottom: 8px;"></li>
</ol>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_.png" alt="RBMS_.png"
    style="width: 100%;">
<br /><br />

<ol>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ol>


<div class="LeftSide--Section">
    <div class="py-3 px-2 w-100">
        <nav id="column_left">
            <ul class="nav nav-list">
                <li>
                    <a class="accordion-heading" href="javascript:void(0);" data-toggle="collapse"
                        data-target="#submenu1"><span class="nav-header-primary">Main Menu </span> </a>
                    <ul class="nav nav-list collapse" id="submenu1">
                        <li>
                            <a class="accordion-heading" href="javascript:void(0);" data-toggle="collapse"
                                data-target="#submenu2"> Menu </a>
                            <ul class="nav nav-list collapse" id="submenu2">
                                <li><a class="accordion-heading" href="javascript:void(0);" data-toggle="collapse"
                                        data-target="#childsubmenu1">Submenu</a>
                                    <ul class="nav nav-list collapse" id="childsubmenu1">
                                        <li><a href="javascript:void(0);">MENU 1</a></li>
                                        <li><a href="javascript:void(0);">MENU 2</a></li>
                                        <li><a href="javascript:void(0);">MENU 3</a></li>
                                    </ul>
                                </li>

                                <li><a class="accordion-heading" href="javascript:void(0);" data-toggle="collapse"
                                        data-target="#childsubmenu2">submenu</a>
                                    <ul class="nav nav-list collapse" id="childsubmenu2">
                                        <li><a href="javascript:void(0);">MENU 1</a></li>
                                        <li><a href="javascript:void(0);">MENU 2</a></li>
                                        <li><a href="javascript:void(0);">MENU 3</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>


Announcement: EnSaaS 4.0 is Now Available

<p>We invite all Cloud Foundry based EnSaaS solution providers to migrate your solutions from Cloud Foundry (CF) to
    Kubernetes (K8s) for more flexible platform supported by a greater community worldwide. EnSaaS 4.0 (K8s based) is
    now available in Azure SA and Aliyun HZ Datacenter. New customers will be able to subscribe trial package starting
    from March 30<sup>th</sup>; EnSaaS 4.0 in IIJ Japan-East Datacenter will be available soon.</p>
<p>CF based EnSaaS is due to reach End-Of-Life, and all CF based EnSaaS Datacenters will be closed on June
    30<sup>th</sup>, 2020. We no longer accept new subscription of CF based EnSaaS including any trial account. Please
    contact us for more detailed information. Thank you very much.</p>








******
***intro***
<p>使用不当或者其他不明原因造成的设备异常会对设备造成损坏，增加维护成本和非计划性停机风险，进而使客户质疑设备质量，最终损害品牌声誉。</p>

<ol style="padding-left: 18px;">
    此SRP监测以下运行参数：
    <li>● 电流</li>
    <li>● 电压</li>
    <li>● 功率</li>
    <li>● 电机振动</li>
    <li>● 风机振动</li>
    <li>● 轴承温度</li>
    <li>● 绕组温度</li>
    <li>● 出口风压</li>
    <li>● 入口风量</li>
</ol>
<br />
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_2.jpg" alt="RBMS_2.jpg"
    style="width: 50%;">
<br /><br />



<ol style="padding-left: 18px;">
    <li>（1）远程监测</li>
    <p>不受空间限制，连接网络，即可获悉所有设备的运行状态。</p>
    <li>（2）异常报警</li>
    <p>设备运行异常实时通过邮件、微信等多种方式通知，并形成报警记录。</p>
    <li>（3）维护提醒</li>
    <p>主要部件检查维护的时间点均以进度条形式直观展示。</p>
    <li>（4）趋势图</li>
    <p>监测数据可以趋势图形式呈现，可展示6个月的连续数据。</p>
    <li>（5）故障排除指引</li>
    <p>常见故障排除指引。</p>
</ol>




<ul class="list-unstyled">
    <li>
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        <a target="_blank"
            href="https://dashboard-gsd-cy2019.wise-paas.cn/frame/CY2019?orgId=3&language=zh_cn&theme=dark">
            访问以下链接进入系统demo
        </a>
        <br />
        账户：cyhk1@gsd.net.cn
        <br />
        密码：GSDcyhk@123
    </li>
</ul>



<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_3.jpg" alt="RBMS_3.jpg"
    style="width: 70%;">
<br /><br />
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_4.jpg" alt="RBMS_4.jpg"
    style="width: 50%;">
<br /><br />
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_5.png" alt="RBMS_5.png"
    style="width: 100%;">
<br /><br />
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_6.png" alt="RBMS_6.png"
    style="width: 100%;">
<br /><br />
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/RBMS/RBMS_7.png" alt="RBMS_7.png"
    style="width: 100%;">
<br /><br />






<p>一旦设备运行异常，设备商马上就可以获得预警信息，从而主动通知用户采取保护性措施，将设备发生严重损坏的可能性降至最低。</p>
<p>然而，设备故障无法绝对避免。此SRP记录的设备运行数据和可视化图表可以辅助设备商快速识别故障原因，从而为客户提供更快的修缮服务。</p>


<p>WISE-PaaS/APM is designed to reduce unplanned downtime, improve equipment availability, minimize operating costs, and
    eliminate the risk of equipment failure. Our APM can be implemented with five flexible self-defined models to enable
    solution developers to quickly build their own digital twins. These models are physical models, alarm models,
    metrics models, visualization models and AI models.</p>
<br />
<br />
<h3>WISE-PaaS/APM Service Type</h3>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_1.png" alt="APM_1.png"
    style="width: 100%;">
<br /><br />
<p>WISE-PaaS/APM is available in Standard and Advanced packages. The Advanced version offers more functions—built-in OEE
    metrics and interfaces for OTA integration, Workflow/MES integration, and AI inference integration.</p>
<p>Whether you go for the Standard or Advanced package, you can choose the Dedicated or Managed service framework. Under
    the Dedicated framework, all the APM microservice applications are deployed to the customer’s workspace and all
    services are customer-specific. Under the Managed framework, all the APM microservice applications are managed by
    the APM Service System and shared among all the customers. With Managed APM, you can save plenty of money on
    WISE-PaaS/EnSaaS at the POC stage. With Dedicated APM, you can manage your production run better.</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_2.png" alt="APM_2.png"
    style="width: 100%;">
<br /><br />




●
***Features***
<ol style="padding-left: 18px;">
    <li>1. Profile Management: Allows you to create flexible self-defined asset models on a web UI.</li>
    <li>2. Profile Management: Allows you to create flexible self-defined Organization/Field Profiles on a web UI.</li>
    <li>3. Organization Management: Allows you to manage organizations through flexible topological configuration.</li>
    <li>4. Rule Engine: Allows you to flexibly define rules for triggering alerts and set up corresponding actions.</li>
    <li>5. Asset Performance Template: Offers availability/OEE asset performance templates and self-defined asset
        performance templates.</li>
    <li>6. EdgeXFoundry Integration: Easily connects to EdgeXFoundry.</li>
    <li>7. WISE-PaaS/Dashboard Integration: Allows you to configure dashboard templates and generates dashboards
        automatically.</li>
    <li>8. Mobile App: Allows you to monitor machines, check alarm information, and read analysis reports on the go.
    </li>
</ol>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_3.png" alt="APM_3.png"
    style="width: 100%;">
<br /><br />

<ol style="padding-left: 18px;">
    <li>Below are built-in dashboard templates for APM availability:</li>
    <li>1. Machine availability:</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_4.png" alt="APM_4.png"
        style="width: 100%;">
    <br /><br />
    <li>2. Production line availability:</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_5.png" alt="APM_5.png"
        style="width: 100%;">
    <br /><br />
    <li>3. Availability overview of all factories:</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_6.png" alt="APM_6.png"
        style="width: 100%;">
    <br /><br />
</ol>
<br />

<ol>
    <li>Below are built-in dashboard templates for APM OEE:</li>
    <li>1. Machine OEE monitoring</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_7.png" alt="APM_7.png"
        style="width: 100%;">
    <br /><br />
    <li>2. Production-line OEE monitoring</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_8.png" alt="APM_8.png"
        style="width: 100%;">
    <br /><br />
    <li>3. Production line OEE analysis</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_9.png" alt="APM_9.png"
        style="width: 100%;">
    <br /><br />
    <li>4. Production line OEE analysis by shift</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_10.png" alt="APM_10.png"
        style="width: 100%;">
    <br /><br />
    <li>5. OEE overview of all factories</li>
    <img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_11.png" alt="APM_11.png"
        style="width: 100%;">
    <br /><br />
</ol>
<br /><br />
<h6 class="title">Pricing details</h6>
<p>Dedicated APM:</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_pricing01.png"
    alt="APM_pricing01.png" style="width: 100%;">
<br /><br />
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_pricing02.png"
    alt="APM_pricing02.png" style="width: 100%;">
<br /><br />
<p>Shared APM:</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_pricing03.png"
    alt="APM_pricing03.png" style="width: 100%;">
<br /><br />



***Learn More***
<ul class="list-unstyled">
    <li>
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        <a target="_blank"
            href="https://docs.wise-paas.advantech.com/en/Guides_and_API_References/ApplicationServices/APM/1583315032378435791/v2.0.0">
            Video introduction of WISE-PaaS/APM
        </a>
    </li>
    <li>
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        <a target="_blank"
            href="https://docs.wise-paas.advantech.com/en/Guides_and_API_References/ApplicationServices/APM/1571223072673818730/v1.0.0">
            WISE-PaaS/APM Technical Document and User Guide
        </a>
    </li>
</ul>

***Architecture ***
<h3 style="margin-bottom: 16px;">Overview of WISE-PaaS/APM system architecture</h3>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_12.png" alt="APM_12.png"
    style="width: 100%;">
<br /><br />
<h3 style="margin-bottom: 16px;">WISE-PaaS/APM supports Edge SRP</h3>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_13.png" alt="APM_13.png"
    style="width: 100%;">
<br /><br />
<h3 style="margin-bottom: 16px;">Three easy steps for connecting WISE-PaaS/APM to the edge</h3>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_14.png" alt="APM_14.png"
    style="width: 100%;">
<br /><br />
<h3 style="margin-bottom: 16px;"></h3>
<p>M2I/CNC SRP</p>
<p>WISE-PaaS/APM integrates AI analytics and microservices for SRP developers to quickly implement their domain-specific
    applications. Take the WISE-PaaS/APM-based CNC SRP as an example: data is collected from the CNC controller through
    SCADA SDK and sent to the APM portal where asset modeling and managerial logistics are configured. The SRP contains
    a visualization dashboard that comes with alert notifications, enables real-time monitoring of a production line and
    machines at work, and presents event reports.</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_15.png" alt="APM_15.png"
    style="width: 100%;">
<br /><br />
<p>Smart Vessels</p>
<p>A Chinese vessel company having dedicated itself to marine electrics and automation for over 25 years since its
    inception is transforming from an equipment manufacturer to a total solution provider. To this end, the firm has
    adopted an WISE-PaaS/APM solution that covers data collection, data transmission, cloud configuration, big data
    analysis, and data visualization for remote monitoring and management.</p>
<p>So far, remote monitoring of all data from up to 1,400 I/O points on new ships has been realized to keep the
    personnel informed about vessel operations in real time, so that they can deliver more timely and accurate messages,
    manage their own vessels better and respond more effectively to emergencies.</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_16.PNG" alt="APM_16.PNG"
    style="width: 100%;">
<br /><br />
<p>Manufacturer of Thermal Equipment</p>
<p>This partner of ours, who specializes in thermal equipment, has used APM and visualization tools to develop a
    cloud-based dashboard for monitoring their products and thus serve their customers timely and remotely.</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_17.PNG" alt="APM_17.PNG"
    style="width: 100%;">
<br /><br />
<p>Steel Factory</p>
<p>Synergizing WISE-PaaS/APM, AFS, and Dashboard can yield a solution for predicting equipment anomalies at steel
    factories. This solution involves implementing feature extraction processes and uploading features through SCADA SDK
    to the APM portal where asset profile and management logistics are configured. After enough datasets are collected
    and labeled, AFS is used to choose or develop a training package and execute a training task with the APM firehose
    settings. After training, a model’s performance can be monitored and data be relabeled directly on the dashboard.
</p>
<p>When the model is ready for deployment, the AFS inference engine is to deploy the model and its corresponding
    inference Docker image to edge devices. The prediction results from an inference execution are uploaded back to the
    APM portal, where event rules are defined using the APM Rule Engine to monitor such results. When an event is
    triggered, WISE-PaaS Notification Service informs the equipment operation and maintenance team to act accordingly.
</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/APM/APM_18.png" alt="APM_18.png"
    style="width: 100%;">
<br /><br />



<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/AFS/AFS_2.png" alt="AFS_2.png"
    style="width: 100%;">
<br /><br />
<p><b>High Permeability Film Quality Prediction</b></p>
<p style="padding-left: 18px;">Problem: The high-transparent membrane is too sticky, and removing 2%–3% of the viscous
    parts from both sides of the membrane incurs higher production costs.</p>
<p style="padding-left: 18px;">Target: To collect and analyze the parameters for the roll-to-roll process of the
    membrane production line; establish a PQA model and a predictive quality system; and adjust the relevant parameters
    timely to improve the membrane’s quality when a warning arises about a quality issue.</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/AFS/AFS_3.PNG" alt="AFS_3.PNG"
    style="width: 100%;">
<br /><br />
<p><b>Steel Factory</b></p>
<p style="padding-left: 18px;">Synergizing APM, AFS, and Dashboard can yield a solution for predicting equipment
    anomalies at steel factories. This solution involves implementing feature extraction processes and uploading
    features through SCADA SDK to the APM portal where asset profile and management logistics are configured. After
    enough datasets are collected and labeled, AFS is used to choose or develop a training package and execute a
    training task with the APM firehose settings. After training, a model’s performance can be monitored and data be
    relabeled directly on the dashboard.</p>
<p style="padding-left: 18px;">When the model is ready for deployment, the AFS inference engine is to deploy the model
    and its corresponding inference Docker image to edge devices. The prediction results from an inference execution are
    uploaded back to the APM portal, where event rules are defined using the APM Rule Engine to monitor such results.
    When an event is triggered, WISE-PaaS Notification Service informs the equipment operation and maintenance team to
    act accordingly.</p>
<img src="https://advcloudfiles.advantech.com/wise-paas-marketplace/RelatedProducts/AFS/AFS_4.png" alt="AFS_4.png"
    style="width: 100%;">
<br /><br />
******








<p></p>
<ol>
    <li style="margin-bottom: 8px;"></li>
</ol>
<br />
<br />
<p><b></b></p>
<p> 애플리케이션을 OT 데이터에 연결하기위해 모든 ISC 인스턴스를 활성화 시키는 증명받은 IIoT 앱 세트를 도입했습니다.</p>

<table class="table table-bordered">
    <tr>
        <th>IIoT Apps</th>
        <th> 제품 세부사항 </th>
        <th>ISC 라이센스를 위한 MAX Nº </th>
        <th>Access 방식</th>
    </tr>
    <tr>
        <td>Simple REST 서버</td>
        <td> 무인증 http 서버 </td>
        <td>1</td>
        <td>R-W-P-H</td>
    </tr>
    <tr>
        <td>MQTT</td>
        <td> 외부 브로커에 대한 MQTT 게시자 </td>
        <td>4</td>
        <td>R-W-H</td>
    </tr>
    <tr>
        <td>Azure IoT 허브</td>
        <td> Microsoft Azure IoT 허브 수집 구성요소에 직접 연결</td>
        <td>4</td>
        <td>R-W-H</td>
    </tr>
    <tr>
        <td>Modbus TCP/IP 서버</td>
        <td> 다른 산업용 장치에 데이터를 전달하기위한 서버</td>
        <td>1</td>
        <td>R-I3W</td>
    </tr>
    <tr>
        <td>SQL 커넥터</td>
        <td> MySQL, Oracle DB 및 MS SQL 서버에 직접 연결 </td>
        <td>4</td>
        <td>R</td>
    </tr>
    <tr>
        <td>Dropbox</td>
        <td> 엑셀 파일 데이터 절약</td>
        <td>1</td>
        <td>R-P</td>
    </tr>
    <tr>
        <td>비즈니스를 위한 OneDrive </td>
        <td>엑셀 파일 데이터 절약</td>
        <td>1</td>
        <td>R-P</td>
    </tr>
    <tr>
        <td>Microsoft Yammer</td>
        <td> Yammer company 선택 그룹에서 알람 메시지 발송</td>
        <td>1</td>
        <td>R (알람 전용)</td>
    </tr>
</table>

<br />
<p>Access type: R=읽기 데이터 태그 W=쓰기 데이터 태그, P= CNC 장치의 읽기/쓰기 파트 프로그램, H=local ISC 데이터 로거 access</p>
<br />
<p>파트 프로그램 (P)은 모든 제조 공정이 담긴 CNC기계 (turning, milling, boring 등)에서 명령파일을 실행합니다.
    모든 제조 공정에서 가능하지만 CNC vendor는 각각의 사용자 정의된 API를 사용하여 파일에 액세스합니다.
    Alleantia는 웹 인터페이스나 IIoT 애플리케이션을 사용하여 표준 폴더 트리에서 파일을 변환합니다.</p>
<br />
<br />
<p><b> XPANGO DRIVERS : 지원되는 프로토콜 </b></p>
<p> XPANGO 드라이버는 기본 산업용 프로토콜을 사용하여 산업용 장치와 통신합니다. OS에 대한 전체 목록 및 가용성은 다음과 같습니다. 지원되는 프로토콜을 통해 읽기/쓰기 엑세스와 파트 프로그램 양방향 교환
    가능.</p>
<table class="table table-bordered">
    <tr>
        <th>프로토콜</th>
        <th>Linux</th>
        <th>Windows</th>
    </tr>
    <tr>
        <td>ModbusRTU (serial)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>ModbusTCP/IP</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>이더넷/IP</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>ProfiNet– (Siemens PLC)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>OPC-UA</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>OPC-DA</td>
        <td>-</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>OmronFINS 이더넷</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>MitsubishiMELSEC (PLC)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Mitsubishi EDM</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Mitsubishi CNC (800, 700 series)</td>
        <td>-</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>MtConnect</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Fanuc FOCAS</td>
        <td>-</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Siemens CNC 840D</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Heidenhain CNC (all)</td>
        <td>-</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Aurora PowerOne (ABB)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>FroniusBus</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Mastervolt</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>SMA 프로토콜</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>키보드 emulator (1D/2D scanner)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>MQTT subscriber (JSON file)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>IP-카메라(Video & Images)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>Audio Input (audio files)</td>
        <td>Y</td>
        <td>Y</td>
    </tr>
</table>







<div class="sub-highlight">
    <div class="blog-categories box related">
        <h5>Technologies</h5>
        <ul>
            <li><a href="/blogs/categories/web">Web</a></li>
            <li><a href="/blogs/categories/dotnet">.NET</a></li>
            <li><a href="/blogs/categories/desktop">Desktop</a></li>
            <li><a href="/blogs/categories/mobile">Mobile</a></li>
            <li><a href="/blogs/categories/document-apis">Document APIs</a></li>
            <li><a href="/blogs/categories/industry-news">Industry News</a></li>
        </ul>
    </div>
    <div class="blog-categories box related">
        <h5>Products</h5>
        <ul>
            <li><a href="/blogs/tags/componentone">ComponentOne</a></li>
            <li><a href="/blogs/tags/activereports">ActiveReports</a></li>
            <li><a href="/blogs/tags/spread">Spread</a></li>
            <li><a href="/blogs/tags/wijmo">Wijmo</a></li>
            <li><a href="/blogs/tags/grapecity-documents">GrapeCity Documents</a></li>
        </ul>
    </div>
</div>