<!-- Strat common header -->
<!----> <div id="header-wrapper" class="bs-docs-header">
    <div id="header-row" class="max-100width">
        <div class="max-98width">
            <h1>Always Code</h1>
            <div class="row">
                <p class="col-md-8">前端開發心得、筆記和觀察都藏在我的小本子裡~</p>
                <p class="col-md-4 text-right cursive">Kao Sandra's baby steps</p>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div id="header-menu" class="max-100width">
        <div class="container">
            <ul>
                <li><a href="/KaoSandraWeb/Views/Index.html">Home</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Technology <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <div class="menu-tags">
                            <h5>[珊卓DIY] 製作網站</h5>
                            <a href="/KaoSandraWeb/Views/posts/webDIY/00-Begining.html">初衷</a>
                            <a href="/KaoSandraWeb/Views/posts/webDIY/01-VSCodeSetup.html">VSCode setup</a>
                            <a href="/KaoSandraWeb/Views/posts/webDIY/02-CreateHTML.html">設計一份 HTML</a>
                            <a href="/KaoSandraWeb/Views/posts/webDIY/03-HtmlSructure.html">Html Document Structure</a>
                            <a href="/KaoSandraWeb/Views/posts/webDIY/04-CommonHTMLcode.html">全站如何靠jQuery共用Header/Footer</a>
                        </div>
                        <div class="menu-tags">
                            <h5>Microsoft Office</h5>
                            <a href="/KaoSandraWeb/Views/posts/MicrosoftOffice/Office2010.html">Excel提示PERSONAL.XLSB檔案使用中，無法開啟活頁簿?</a>
                        </div>
                    </div>
                </li>
                <li><a href="/KaoSandraWeb/Views/allTags/AllTags.html">All Tags</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div> 
<!-- End common header -->