<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta name="description" content="前端開發心得、筆記和觀察都藏在我的小本子裡~ | Front-End Development">
    <meta name="keywords" content="HTML,CSS,Front-End,JavaScript">
    <meta name="author" content="Kao Sandra">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1">
    <meta name="copyright" content="&copy; Copyright - Kao Sandra. All rights reserved.">
    <title>珊卓前端開發小冊子</title>
    <!-- <title>Kao Sandra Front-End Development</title> -->

    <!-- Outside resource -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Reference resource -->
    <link type="text/css" rel="stylesheet" href="../../css/font-awesome_5.12.1/all.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/font-awesome_5.12.1/regular.min.css">
    <!-- <script type="text/javascript" src="../js/font-awesome_5.12.1/all.min.js"></script> -->

    <!-- layout resource -->
    <link type="text/css" rel="stylesheet" href="../../css/default.css"><!-- layout css -->
    <link type="text/css" rel="stylesheet" href="../../css/header-footer.css"><!-- layout css -->
    <link type="text/css" rel="stylesheet" href="../../css/side-container.css"><!-- layout css -->
    <script type="text/javascript" src="../../js/main.js"></script><!-- layout js -->

    <!-- custom page css -->
    <link type="text/css" rel="stylesheet" href="../../css/post.css"><!-- layout css -->
    <style>

    </style>
</head>

<body>
    <div id="container">
        <div id="header-wrapper" class="bs-docs-header">
            <div id="header-row" class="max-100width">
                <div class="max-98width">
                    <!-- <h1>珊卓前端開發</h1> -->
                    <div class="row">
                        <p class="col-md-8">前端開發心得、筆記和觀察都藏在我的小本子裡~</p>
                        <p class="col-md-4 text-right cursive">Kao Sandra's baby steps</p>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
            <div id="header-menu" class="max-100width">
                <div class="container">
                    <ul>
                        <li><a href="../Index.html">Home</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Technology <i class="fas fa-caret-down"></i>
                            </a>
                            <div class="dropdown-content">
                                <div class="menu-tags">
                                    <h5>[珊卓DIY] 製作網站</h5>
                                    <a href="../posts/webDIY/00-Begining.html">初衷</a>
                                    <a href="javascript:void(0)">VSCode setup</a>
                                    <a href="../posts/webDIY/02-CreateHTML.html">設計一份 HTML</a>
                                </div>
                                <div class="menu-tags">
                                    <h5>Microsoft Office</h5>
                                    <a href="../posts\MicrosoftOffice\Office2010.html">Excel提示PERSONAL.XLSB檔案使用中，無法開啟活頁簿?</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="../allTags\allTags.html">標籤列表</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main-wrapper" class="container">
            <div class="row">
                <div id="KScontainer" class="col-md-9">
                    <div id="post">
                        <div class="tagList">
                            <h2>標籤列表</h2>
                            <ul>
                                <li>
                                  <a href="../../views\allTags\tag-SandraDIY.html">[珊卓DIY] 製作網站</a>
                                </li>
                              
                                <li>
                                  <a href="javescript:void(0)">Microsoft Office</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div id="side-container" class="col-md-3">
                    <div class="container">
                        <div class="side-menu">
                            <div class="side-tags">
                                <h5>[珊卓DIY] 製作網站</h5>
                                <ul>
                                    <li><a href="posts/webDIY/00-Begining.html">00 初衷</a></li>
                                    <li><a href="#">01 VSCode setup</a></li>
                                    <li><a href="posts/webDIY/02-CreateHTML.html">02 設計一份 HTML</a></li>
                                </ul>
                            </div>
                            <div class="side-tags">
                                <h5>Microsoft Office</h5>
                                <ul>
                                    <li><a href="posts/Office2010.html">Excel提示PERSONAL.XLSB檔案使用中，無法開啟活頁簿?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrapper" class="">
            <div class="backToTop"></div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2020 - Kao Sandra. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>