<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta name="description" content="前端開發心得、筆記和觀察都藏在我的小本子裡~ | Front-End Development">
    <meta name="keywords" content="HTML,CSS,Front-End,JavaScript">
    <meta name="author" content="Kao Sandra">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1">
    <meta name="copyright" content="&copy; Copyright - Kao Sandra. All rights reserved.">
    <title>珊卓前端開發小冊子</title>

    <!-- Outside resource -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            type="text/javascript"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Reference resource -->
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/font-awesome_5.12.1/font-awesome/all.min.css">
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/font-awesome_5.12.1/font-awesome/regular.min.css">
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/Highlight-js/darcula.css">
    <!-- layout resource -->
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/default.css">
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/header-footer.css">
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/side-container.css">
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/code.css">
    <script>
        $(function () {
            $("#header-wrapper").load("http://127.0.0.1:5500/views/common/_Header.html");
            $("#footer-wrapper").load("http://127.0.0.1:5500/views/common/_Footer.html");
            $("#side-container").load("http://127.0.0.1:5500/views/common/_SideContainer.html");
        });
    </script>


    <!-- custom page css -->
    <link type="text/css" rel="stylesheet" href="/KaoSandraWeb/css/post.css">
    <!-- <script type="text/javascript" src="/KaoSandraWeb/js/highlight-js/highlight.pack.js"></script> -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
        select#select-example-03:required:invalid {
            color: #cacaca;
        }

        select#select-example-03 option {
            color: #000;
        }
    </style>
</head>

<body>
    <div id="container">
        <div id="header-wrapper" class="bs-docs-header"></div>

        <div id="main-wrapper" class="container">
            <div class="row">
                <div id="KScontainer" class="col-md-9">
                    <div id="post">
                        <div class="row">
                            <p class="col-md-8 ">
                                <span><i class="far fa-calendar-alt"></i> 2020 04.22 </span>
                                <span><i class="fas fa-keyboard"></i>作者:高Sandra</span>
                            </p>
                            <p class="col-md-4 text-right">
                                <span><i class="fas fa-tag"></i>HTML And CSS</span>
                            </p>
                        </div>
                        <div class="post-content">
                            <div>
                                <h2>用 HTML 和 CSS 製作 select Box 的 Pleceholder</h2>
                                <p>&lt;input&gt;和&lt;textarea&gt;HTML元素都天生自帶 placeholder 功能，唯獨 &lt;select&gt;
                                    下拉選單在UI上想設定類placeholder功能會相對麻煩。</p>
                                <p>參考資料：
                                    <a href="https://www.geeksforgeeks.org/html-placeholder-attribute" target="_blank">
                                        HTML | placeholder Attribute - GeeksforGeeks</a>
                                </p>

                                <div class="section">
                                    <h3>Plaseholder (佔位符)</h3>
                                    <p>Plaseholder 屬性主要被建立在可以和使用者互動的 HTML element 元素上，用以在填入 content 之前，提示使用者可以接著執行的操作，並且
                                        plaseholder 提示文字不影響該元素包含的 content 。</p>

                                    <P>範例：</P>
                                    <pre><code>
        &lt;element plaseholder=&quot;&quot;&gt;
        &lt;!-- element 元素  /  plaseholder 一種屬性--&gt;        
        &lt;!-- 可以使用 plaseholder 屬性的 HTML 元素有 --&gt;
        &lt;!-- &lt;input&gt; 和 &lt;textarea&gt; --&gt;
                                                                    </code></pre>
                                    <br>
                                    <P>範例：</P>
                                    <form action=" ">
                                        <input type="text" name="fname" placeholder="姓名">
                                        <br>
                                        <input type="text" name="lname" placeholder="電話">
                                        <br>
                                        <input type="submit" value="送出" disabled>
                                    </form>

                                    <pre><code class="html">
        &lt;input type=&quot;text&quot; name=&quot;fname&quot; 
                         placeholder=&quot;姓名&quot;&gt; 
        &lt;br&gt; 
        &lt;input type=&quot;text&quot; name=&quot;lname&quot; 
                          placeholder=&quot;電話&quot;&gt; 
        &lt;br&gt; 
        &lt;input type=&quot;submit&quot; value=&quot;送出&quot; disabled&gt;
                                                                    </code></pre>
                                    <br>

                                    <P>範例：</P>
                                    <textarea rows="3" cols="40" placeholder="這是一個可以填多行文字的區塊">
                                    </textarea>

                                    <pre><code>
        &lt;textarea rows=&quot;3&quot; cols=&quot;40&quot; 
            placeholder=&quot;這是一個可以填多行文字的區塊&quot;&gt; 
        &lt;/textarea&gt;
                                    </code></pre>
                                </div>

                                <div class="section">
                                    <h3>&lt;select&gt; Box placeholder</h3>
                                    <p>在 &lt;select&gt; Box 中的 placeholder，其實是一個 &lt;option&gt;。</p>
                                    <p>利用控制第一個 &lt;option&gt; 的樣式，來達成 (類)placeholder 的效果。</p><br>

                                    <h4>Select 範例01：</h4>
                                    <P>用 <mark>disabled</mark> 跟 <mark>selected</mark> 就能達到 placeholder 效果。</P>
                                    <select required>
                                        <option disabled selected>Choose a drink</option>
                                        <option>Coffee</option>
                                        <option>Tea</option>
                                        <option>Milk</option>
                                    </select>
                                    <pre><code>
        &lt;select required&gt;
            &lt;option  disabled selected&gt;Choose a drink&lt;/option&gt;
            &lt;option&gt;Coffee&lt;/option&gt;
            &lt;option&gt;Tea&lt;/option&gt;
            &lt;option&gt;Milk&lt;/option&gt;
        &lt;/select&gt;
                                                                    </code></pre>

                                    <h4>Select 範例02：</h4>
                                    <P>用 disabled, selected 再加上 HTML5 的 <mark>hidden</mark> 屬性製作選單的 placeholder <mark>不會</mark>出現在下拉選單的效果。</P>
                                    <select required>
                                        <option disabled selected hidden>Choose a drink</option>
                                        <option>Coffee</option>
                                        <option>Tea</option>
                                        <option>Milk</option>
                                    </select>
                                    <pre><code>
        &lt;select required&gt;
            &lt;option disabled selected hidden&gt;Choose a drink&lt;/option&gt;
            &lt;option&gt;Coffee&lt;/option&gt;
            &lt;option&gt;Tea&lt;/option&gt;
            &lt;option&gt;Milk&lt;/option&gt;
        &lt;/select&gt;
                                                                    </code></pre>
                                    
                                    <h4>Select 範例03：</h4>
                                    <P>在 css 中設定 select:required:invalid。Required 屬性的 type 是 true or false (boolean)，表示表單為必填值；Invalid 設定會根據元素來驗證元素的值無效，在此表示 placeholder 值無效。</P>
                                    <P>在 HTML 中設定 select required 表示必填；在 類placeholder 的 option 上設定 disabled 表示不可被選擇； selected 則表示此為 select 中的預設 option 。</P>
                                    <select id="select-example-03" name="drinks" required>
                                        <option value="" disabled selected hidden>Choose a drink</option>
                                        <option value="coffee">Coffee</option>
                                        <option value="tea">Tea</option>
                                        <option value="milk">Milk</option>
                                    </select>

                                    <pre><code>
        &lt;style&gt;
            select:required:invalid {
                color: #666;
            }
            
            option {
                color: #000;
            }
        &lt;/style&gt;
                                    </code></pre>

                                    <pre><code>
        &lt;select required&gt;
            &lt;option disabled selected hidden&gt;Choose a drink&lt;/option&gt;
            &lt;option&gt;Coffee&lt;/option&gt;
            &lt;option&gt;Tea&lt;/option&gt;
            &lt;option&gt;Milk&lt;/option&gt;
        &lt;/select&gt;
                                                                    </code></pre>
                                    <p>參考資料：
                                        <a href="https://www.w3docs.com/snippets/css/how-to-create-a-placeholder-for-an-html5-select-box-by-using-only-html-and-css.html" 
                                        target="_blank">
                                        How to Create a Placeholder for an HTML5 &lt;select&gt; Box by Using Only HTML and CSS? - W3docs</a>
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div id="side-container" class="col-md-3"></div>
            </div>
        </div>

        <div id="footer-wrapper" class=""></div>
    </div>

    <!-- custom page js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/KaoSandraWeb/js/api.js"></script>
    <script type="text/javascript" src="/KaoSandraWeb/js/main.js"></script>
</body>

</html>