<div class="container">
    <div class="side-menu">
        <div class="side-tags">
            <h5>[珊卓DIY] 製作網站</h5>
            <ul>
                <li><a href="/KaoSandraWeb/Views/posts/webDIY/00-Begining.html">00 初衷</a></li>
                <li><a href="/KaoSandraWeb/Views/posts/webDIY/01-VSCodeSetup.html">01 VSCode setup</a></li>
                <li><a href="/KaoSandraWeb/Views/posts/webDIY/02-CreateHTML.html">02 設計一份 HTML</a></li>
                <li><a href="/KaoSandraWeb/Views/posts/webDIY/03-HtmlSructure.html">03 HTML Document Structure</a></li>
                <li><a href="/KaoSandraWeb/Views/posts/webDIY/04-CommonHTMLcode.html">04 全站如何靠jQuery共用Header/Footer</a></li>
            </ul>
        </div>
        <div class="side-tags">
            <h5>Microsoft Office</h5>
            <ul>
                <li><a href="/KaoSandraWeb/Views/posts/MicrosoftOffice/Office2010.html">Excel提示PERSONAL.XLSB檔案使用中，無法開啟活頁簿?</a></li>
            </ul>
        </div>
        <div class="side-tags">
            <h5>Vue.js</h5>
            <ul>
                <li><a href="/KaoSandraWeb/views/posts/VueJs/StyleGuide-Essential.html">Vue官方建議的程式碼編寫風格</a></li>
            </ul>
        </div>
    </div>
</div>